body{

	background-image: url("./images/sell.png");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: all;
}

.formStyle{
	width: 500px;
	padding-top: 40px;
	padding-bottom: 30px;
	border-radius: 8px;
	background-color: #f1f1f1;
	text-align: center;
	margin-top: 150px;
	margin-left: 400px;
}

input{

	padding: 15px;

	border-radius: 5px;
	border-color: #08088A;
	padding-top: 20px;
	font-size: 50;

}

.form_h2{
	border-bottom: 1px solid;
	border-bottom-color: #808080;
	color: #01426a;
	font-family: elephant;
	font-size: 35px;
}

#put1{
		width: 220px;

}

#btn{
	background-color: #69bcd5;
	width: 150px;
	font-size: 20px;

}

label a {
	text-decoration: none;
}